*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;    
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(img/background.webp);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
   justify-content: space-between;   
}
.logo {
    width: 120px;
    height: auto;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #33F0FF;
    position: absolute;
    left: 0;
    bottom: -5;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


.content {
    width: 100%;
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    text-align:center;
    color: #fff;
}

.content h1{
    font-size: 50px;
    margin-top: 80px;   
}

.content p{
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid #33F0FF;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #33F0FF;
    height: 100%;
    width: 0;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%
}

button:hover{
    width: none;
}


.contents {
    
   padding: 15px 15px;
    width: 50%;
    position: absolute;
    top:50%;
    left: 25%;
    border: 1;
    transform: translateY(-50%);
    text-align:justify;
    color: #fff;
}
.contents p{
    text-indent: 30px;
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: justify-all;
    
}

.container {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 4rem;
  z-index: auto;
}

.imgBox {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
 border-radius: 25px;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  resize: both;
}

.content1 {
    border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content1 h2 {
  display: block;
  font-size: 20px;
  color: #111;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 1px;
}

.content1 span {
  color: #555;
  font-size:1.4rem;
  font-weight: 20;
  letter-spacing: 2px;
}


  .container .box:hover .content {
    transform: translate(0, 3.5rem);
  }
  .container .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }



